html {
    /* font-size: 62.5%; */
    overflow: hidden;

      width: 100%;
    height: 100%;
  }

body {
    width: 100%;
    height: 100%;
  }

body,
h1,
h2,
h3,
h4,
p,
button,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}