:root {
    --text-header-color: #004243;
    --text-tab-color: #1C2022;
    --test-label-color: #20272B;
    --text-passive-color: #8E9FA7;
    --accent-field-color: #CAE5FF;
    --block-color: #F5FAFF;
    --border-color: #AAAEB0;
    --accent-primary-color: #8DDFFF;
    --accent-secondary-color: #FBB591;

    --accent-primary-color-hover: #48C2F2;
    --accent-primary-color-focus: #039AD6;
    --accent-secondary-color-hover: #FF5700;
    --accent-secondary-color-focus: #B93F00;
}

html {
    font-size: 62.5%;
    overflow: hidden;

    width: 100%;
    height: 100%;
    font-family: Open Sans, sans-serif;
}

body {
    width: 100%;
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
p,
button,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
    padding: 0;
}