@font-face {
/* Open */
    font-family: "Open Sans"; 

    src: url("../fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
  } 