.data-block {
    border: 0.1rem solid;
    border-color: var(--border-color);
    border-radius: 2.4rem;
    margin: 2rem 3rem;
    padding: 2rem;
}

.data-block__header {
    display: flex;
    justify-content: space-between;
}

.data-block__title {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--text-label-color);
}