.profile-wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    border: 0.1rem solid;
    border-color: var(--border-color);
    border-radius: 2.4rem;
    margin: 3rem 8rem;
}

.profile-nav {
    background: var(--accent-primary-color);
    height: 100vh;
    border-top-left-radius: 2.4rem;
    border-bottom-left-radius: 2.4rem;
}


/* Блок логотипа */

.logo-link {
    text-decoration: none;
}

.logo-wrapper {
    display: flex;
    align-items: center;
    margin: 0 2rem 5rem 0;
}

.logo {
    padding: 1rem 0;
}

.logo__title {
    font-size: 3.5rem;
    font-weight: 600;
    color: var(--text-header-color);
}

.space {
    height: 5rem;
}

.nav {
    margin: 1rem;
    list-style-type: none;
}

.nav__item {
    padding: 1rem;
    margin: 0.8rem 0 0 1rem;
    cursor: pointer;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

.nav__item:hover {
    background: var(--accent-primary-color-hover);
}

.nav__item--active {
    background: var(--accent-primary-color-focus);
}

.nav__icon--active {
    filter: invert(1);
}

.nav__link {
    font-size: 1.6rem;
    color: var(--text-label-color);
    font-weight: 600;
    margin-left: 2rem;
    text-decoration: none;
}

.nav__link--active {
    color: white;
}

/*.profile-content {*/
/*    border-radius: 0.8rem;*/
/*}*/

.title-big {
    font-size: 5rem;
    margin-left: 7rem;
    margin-top: 10rem;
}

.title-medium {
    font-size: 2.5rem;
    margin: 3rem 0 2rem;
}


/* Панель пользователя (верхняя) */

.user-panel {
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding: 2rem;
}

.user-panel__avatar {
    border-radius: 50%;
    background: var(--border-color);
    height: 5rem;
    width: 5rem;
}

.user-panel__username {
    font-size: 2rem;
    margin-right: 3rem;
}

/* Информация о пользователе */

.data-block {
    border: 0.1rem solid;
    border-color: var(--border-color);
    border-radius: 2.4rem;
    margin: 2rem 7rem;
    padding: 2rem;
}

.data-block__header {
    display: flex;
    justify-content: space-between;
}

.data-block__title {
    font-size: 3rem;
    font-weight: 600;
    color: var(--text-label-color);
}

.btn-edit {
    border: 0.1rem solid;
    border-radius: 0.8rem;
    border-color: var(--border-color);
    background: var(--input-disabled-color);
    padding: 0.6rem;
    display: flex;
    align-items: center;
    gap: 0.6rem;
    cursor: pointer;
}

.btn-edit:hover {
    background: var(--accent-grey-btn-color-hover);
}

.btn-edit:focus {
    box-shadow: 4px 4px 4px 0px rgba(34, 60, 80, 0.2) inset;
    border-color: var(--accent-grey-btn-color-hover);
    background: var(--accent-grey-btn-color-focus);
}

.btn-edit__text {
    font-size: 1.8rem;
}

.user-data {
    display: flex;
    justify-content: space-between;
}

.user-data__block {
    margin: 3rem 0;
}

.input__label {
    font-size: 20px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: 0;
    text-align: left;
    color: #20272B;
    margin-left: 1.5rem;
    margin-bottom: 0.625rem;
}

.input-field {
    border: 0.1rem solid var(--border-color);
    border-radius: 3.2rem;
    height: 4rem;
    background-color: var(--block-color);

    padding-left: 2.4rem;
    font-size: 18px;
    text-transform: uppercase;

    margin-bottom: 1rem;
}

.input-field:hover {
    outline-color: var(--border-color-hover);
}

.input-field:focus {
    outline-color: var(--accent-primary-color);
}

.input-field:disabled {
    background: var(--input-disabled-color);
    outline-color: var(--border-color-input-outline-disabled);
    cursor: not-allowed;
}


/* Перечень участников игры с аватарами */

.participants__list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    column-gap: 4rem;
    row-gap: 2rem;
}

.participant__wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.participants__avatar {
    border-radius: 50%;
    background: var(--border-color);
    height: 3rem;
    width: 3rem;
}

.participants__username {
    font-size: 1.5rem;
}


/* Кнопка удаления */

.center {
    display: flex;
    justify-content: center;
}

.btn-delete {
    background: red;

    border-radius: 8rem;
    border: none;
    width: 25.3rem;
    height: 5.2rem;
    padding: 1.2rem 3.6rem;

    font-size: 18px;
    font-weight: 400;
    color: var(--text-button-color);
    cursor: pointer;
}