<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Профиль</title>
    <link rel="stylesheet" href="../../../style/style.css">
</head>
<body>

<div class="wrapper">
    <div class="profile-wrapper">


        <div class="profile-nav">

            <a href="#" class="logo-link">
                <div class="logo-wrapper">
                    <img src="../../../assets/img/logo.png" class="logo"/>
                    <span class="logo__title">Карьера</span>
                </div>
            </a>

            <nav>
                <ul class="nav">
                    <li>
                        <div class="nav__item nav__item--active">
                            <img src="../../../assets/icons/icon_profile.svg" class="nav__icon--active">
                            <a href="#" class="nav__link nav__link--active">Профиль</a>
                        </div>
                    </li>
                    <li>
                        <div class="nav__item">
                        <img src="../../../assets/icons/icon_statement.svg">
                        <a href="#" class="nav__link">Остаток по счету</a>
                        </div>
                    </li>
                    <li>
                        <div class="nav__item">
                        <img src="../../../assets/icons/icon_balance.svg">
                        <a href="#" class="nav__link">Выписка</a>
                        </div>
                    </li>
                        <div class="nav__item">
                        <img src="../../../assets/icons/icon_pay.svg">
                        <a href="#" class="nav__link">Заплатить</a>
                        </div>
                    </li>
                </ul>

                <div class="space"></div>

                <ul class="nav">
                    <li>
                        <div class="nav__item">
                        <img src="../../../assets/icons/icon_game.svg">
                        <a href="#" class="nav__link">Игры</a>
                        </div>
                    </li>
                    <li>
                        <div class="nav__item">
                        <img src="../../../assets/icons/icon_accounts.svg">
                        <a href="#" class="nav__link">Аккаунты</a>
                        </div>
                    </li>
                    <li>
                        <div class="nav__item">
                        <img src="../../../assets/icons/icon_navigator.svg">
                        <a href="#" class="nav__link">Навигатор</a>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="profile-content">

            <div class="user-panel">
                <div class="user-panel__avatar"></div>
                <label class="user-panel__username">Имя пользователя</label>
                <a href="#"><img src="../../../assets/icons/icon_exit.svg" class="user-panel__icon-exit"></a>
            </div>


            <h2 class="title-big">Профиль</h2>


            <div class="data-block">

                <div class="data-block__header">
                    <div>
                        <span class="data-block__title">Информация о пользователе </span>
                        <span class="data-block__title">ID [здесь должен быть ID]</span>
                    </div>
                    <button class="btn-edit">
                        <img src="../../../assets/icons/icon_edit.svg">
                        <span class="btn-edit__text">Изменить</span>
                    </button>
                </div>

                <div class="user-data">
                    <div class="user-data__block">
                        <h4 class="input__label">Логин</h4>
                        <input id="login" name="login" class="input-field" size="15" disabled>
                    </div>
                    <div class="user-data__block">
                        <h4 class="input__label">E-mail</h4>
                        <input id="email" type="email" name="email" class="input-field" size="15" disabled>
                    </div>
                    <div class="user-data__block">
                        <h4 class="input__label">Пароль</h4>
                        <input id="password" type="password" name="email" class="input-field" size="15" disabled>
                    </div>
                </div>

            </div>


            <div class="data-block">

                <div class="data-block__header">
                    <div>
                        <span class="data-block__title">Информация об игре </span>
                        <span class="data-block__title">[здесь должно быть название игры]</span>
                    </div>
                </div>

                <div class="game-data">
                    <h4 class="title-medium">Участники</h4>
                    <div class="participants">
                        <ul class="participants__list">
                            <li>
                                <div class="participant__wrapper">
                                    <div class="participants__avatar"></div>
                                    <span class="participants__username">Участник 1</span>
                                </div>
                            </li>
                            <li>
                                <div class="participant__wrapper">
                                    <div class="participants__avatar"></div>
                                    <span class="participants__username">Участник 2</span>
                                </div>
                            </li>
                            <li>
                                <div class="participant__wrapper">
                                    <div class="participants__avatar"></div>
                                    <span class="participants__username">Участник 3</span>
                                </div>
                            </li>
                            <li>
                                <div class="participant__wrapper">
                                    <div class="participants__avatar"></div>
                                    <span class="participants__username">Участник 4</span>
                                </div>
                            </li>
                            <li>
                                <div class="participant__wrapper">
                                    <div class="participants__avatar"></div>
                                    <span class="participants__username">Участник 5</span>
                                </div>
                            </li>
                            <li>
                                <div class="participant__wrapper">
                                    <div class="participants__avatar"></div>
                                    <span class="participants__username">Участник 6</span>
                                </div>
                            </li>
                            <li>
                                <div class="participant__wrapper">
                                    <div class="participants__avatar"></div>
                                    <span class="participants__username">Участник 7</span>
                                </div>
                            </li>
                            <li>
                                <div class="participant__wrapper">
                                    <div class="participants__avatar"></div>
                                    <span class="participants__username">Участник 8</span>
                                </div>
                            </li>
                            <li>
                                <div class="participant__wrapper">
                                    <div class="participants__avatar"></div>
                                    <span class="participants__username">Участник 9</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="center">
                <button class="btn-delete">Удалить аккаунт</button>
            </div>


        </div>

    </div>
</div>

</body>
</html>